/* Agregando variables */

.inactive{
    display: none;
}
:root{

    /* Color */
    --oficial-color: grey;
    --title-Color: #7F7F7F;
    --text-Color: #4D4D4D;
    --random-color: #3B3B39;
    --extra-color: #999999;

    /*Fonts */
    --title-font: 'Yanone Kaffeesatz', sans-serif;
    --text-font: 'Josefin Sans', sans-serif;
    --random-font: 'Josefin Sans', sans-serif;
    --extra-font:'Amatic SC', cursive;

    --random-font-wight: 200;
    --text-font-wight: 300;
    --title-font-wight: 500;
    --extra-font-wight: 700;
    
    /*Size  */
    --title-size: 25px;
    --text-size: 20px;
    --random-size: 15px;
    --extra-font-size: 21px;

    /*Background Color  */
    --background-color:  #210B17;
    --random-background-color: #060405 ;
    --extra-background-color: #111111;
}

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 450px;
    height: 150px;
    padding: 40px 0;
    background:rgba(0,0,0,0.7) url("../assets/image/viaje-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

header .profile-img{
    position: absolute;
    bottom: -50px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid blueviolet;
    cursor: pointer;
}

header .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

header .header-p{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: var(--title-font);
    font-family: var(--random-font);
    color: white;
    font-weight: var(--title-font-wight);
}

header nav{
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    gap: 5px;
}

header nav .social-media{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header nav .github{
    background-image: url('../assets/icons/github.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header nav .twitter{
    background-image: url('../assets/icons/twitter.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header nav .instagram{
    background-image: url('../assets/icons/instagram.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header nav .youtube{
    background-image: url('../assets/icons/youtube.png');
    background-repeat: no-repeat;
    background-size: cover;
}


header .social-media-unique{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 60px;
    height: 35px;
    text-align: center;
    font-family: var(--extra-font);
    font-size: var(--title-size);
    border: 1px solid blue;
    background-color:pink;
    cursor: pointer;
}

main{ 
    width: 100%;
    min-width: 320px;
    max-width: 450px;
    height: auto;
    background-color: var(--background-color);
    color: var(--oficial-color);
    padding: 30px 0;
}
main section{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

main .aboutme-section{
    width: 100%;
    border-bottom: 1px solid red;
    padding: 10px 0;
}

main .aboutme-section .as--article{
    width: 95%;
    margin: 40px auto 0;
}

main .aboutme-section .as--article h1{
    font-size: var(--title-size);
    font-family: var(--title-font);
    font-weight: var(--title-font-wight);
    color: var(--title-Color);
    margin-bottom: 10px;
}

main .aboutme-section .as--article p{
    font-size: var(--text-size);
    font-family: var(--text-font);
    font-weight: var(--text-font-wight);
    color: var(--oficial-color);
}

main .aboutme-section .as--article p a{
    font-size: var(--random-size);
    color: var(--title-Color);
}


main .project-section{
    padding: 15px 0;
}

main .project-section h2{
    font-size: var(--title-size);
    font-family: var(--title-font);
    font-weight: var(--title-font-wight);
    color: var(--title-Color);
    margin-bottom: 10px;
    text-align: center;
}

main .project-section h4{

    text-align: right;
}

main .project-section h4 a{
    font-size: var(--extra-size);
    font-family: var(--title-font);
    font-weight: var(--title-font-wight);
    color: var(--oficial-color);
}

main .project-section .project-section-scroll{
    width:  100%;
    display: flex;
    gap: 10px;
    height: auto;
    overflow-x: scroll ;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
}

main .project-section .project-section-scroll::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}

main .project-section .project-section-scroll::-webkit-scrollbar
{
 width: 10px;

}

main .project-section .project-section-scroll::-webkit-scrollbar-thumb
{
    background-color:brown;
}

.project-section .project-section-scroll .project-cards{
    scroll-snap-align: center;
    width: 100%;
    min-width: 250px;
    height: 350px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.project-section .project-section-scroll .project-cards--img{
    /* position: absolute; */
    width: 100%;
    height: 350px;
    border-radius: 15px;
    cursor: pointer;
}

.project-section .project-section-scroll .cards-img-1{
    background: rgba(0,0,0,0.7) url('../assets/image/Sam-movies-view1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.project-section .project-section-scroll .cards-img-1:hover{
    background: rgba(0,0,0,0.7) url('../assets/image/Sam-movies-view2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.project-section .project-section-scroll .cards-img-2{
    background: rgba(0,0,0,0.7) url('../assets/image/wikipedia.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.project-section .project-section-scroll .cards-img-3{
    background: rgba(0,0,0,0.7) url('../assets/image/google.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

.project-section .project-section-scroll .cards-img-4{
    background: rgba(0,0,0,0.7) url('../assets/image/portafolio-2.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.project-section .project-section-scroll .cards-img-4:hover{
    background: rgba(0,0,0,0.7) url('../assets/image/portafolio-1.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}


.project-section .project-section-scroll .cards-img-5{
    background: rgba(0,0,0,0.8) url('../assets/image/michi-app.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}


.project-section .project-section-scroll .project-cards .project-cards-article{
    position: relative; 
    bottom: 90px;
    width: 95%;
    height: auto;
    margin: 0 auto;
   
}

.project-cards .project-cards-article h3{
    font-size: var(--random-size);
    font-family: var(--title-font);
    font-weight: var(--random-font-wight);
    margin-bottom: 10px;
    text-align: center;
    color: yellow;
}
.project-cards .project-cards-article p{
    font-size: var(--extra-size);
    font-family: var(--text-font);
    font-weight: var(--random-font-wight);
    color:  #ffffff;
    text-align: center;
}

main .news-section{
    padding: 10px 0;
}

main .news-section h2{
    font-size: var(--title-size);
    font-family: var(--title-font);
    font-weight: var(--title-font-wight);
    margin-bottom: 10px;
}

main .news-section h2 a{
    color: var(--oficial-color);
    text-decoration: none;
}

main .news-section .news-article{
    height: auto;
}

main .news-section .special-news{
    width: 100%;
    height: auto;
    padding: 20px 10px;
}

main .news-section .special-news p{
    color: grey;
}

main .news-section .news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

main .news-section .news-container .news-article{
    width: 100%;
    /* width: 190px; */
    height: auto;
    padding: 5px;
    border: 1px solid #7F7F7F;
    cursor: pointer;
}
.news-article h3{
    font-size: var(--title-size);
    font-family: var(--title-font);
    font-weight: var(--title-font-wight);
    color: var(--title-Color);
    border-bottom: 1px solid red;
    margin-bottom: 15px;
}
.news-article p{
    font-size: var(--text-size);
    font-family: var(--text-font);
    font-weight: var(--text-font-wight);
}

main .shop-views{
    padding-top: 30px;
}

.shop-views h3{
    font-family: var(--extra-font);
    font-size: var(--title-size);
    color: yellow;
    text-align: center;
}

.shop-views .web-selling{
    width: 90%;
    gap: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

main .shop-views .web-selling .web-container{
    width: 250px;
    height: 310px;
    background-color: #4D4D4D;

}

aside{
    width: 100%;
    min-width: 320px;
    max-width: 450px;
    height: auto;
}

aside section{
    border-top: 1px solid salmon;
    padding: 20px 0;
    width: 90%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

aside .aside-section-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}

aside .aside-section-1 .aside-article{
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: 1px solid sienna;
    padding: 5px 5px;
}

aside .aside-section-1 .aside-article h5{
    font-size: var(--title-size);
    font-family: var(--extra-font);
    font-weight: var(--random-font-wight);
    color: var(--title-Color);
    margin-bottom: 5px;
}

aside .aside-section-1 .aside-article p{
    font-size: var(--extra-size);
    font-family: var(--extra-font);
    font-weight: var(--random-font-wight);
    color: var(--title-Color);
    margin-bottom: 5px;
}
footer{
    width: 100%;
    min-width: 320px;
    max-width: 450px;
    height:auto;
    text-align: center;
    background-color: var(--background-color);
    color: var(--oficial-color);
}