header{
        max-width: 600px;
        height: 250px;
        background-position: center;
    }
    main{
        max-width: 600px;
    }

    /* main .news-section .news-container .news-article{
        width: 200px;
    } */

    aside{
        max-width: 600px;
    }
    footer{
        max-width: 600px;
    }